.primary, .btn-secondary, .login {
  display: inline-block;
  padding: 10px 20px;
  border: none;
}

.primary {
  background-color: black;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  color: grey;
}

.primary:hover {
  color: #c7c7c7;
}

.btn-secondary {
  background-color: red;
}

.btn-secondary:hover {
  background-color: grey;
}

.login {
  background-color: green;
  border-radius: 10px;
}

.iconSize {
  height: 1.5rem;
  width: 1.5rem;
  padding-right: 0.5rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  background-color: #F6DEDD;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}
