%btn {
    display: inline-block;
    padding: 10px 20px;   
    border: none;
  }  

.primary{
  @extend %btn;
  background-color: black;
  transition: all ease-in-out 0.2s;
  color: grey;
  

  &:hover{
    color: rgb(199, 199, 199)

  }
}  

.btn-secondary{
  @extend %btn;
  background-color: red;

  &:hover{
    background-color: grey;
  }
}

.login{
  @extend %btn;
  background-color: green;
  border-radius: 10px;
}

  
  
  