%btn {
    display: inline-block;
    padding: 10px 20px;   
    border: none;
  }  

.primary{
  @extend %btn;
  background-color: white;
  transition: all ease-in-out 0.2s;
  

  &:hover{
    background-color: grey;

  }
}  

.btn-secondary{
  @extend %btn;
  background-color: red;

  &:hover{
    background-color: grey;
  }
}  

  
  
  