$primary-red-02 : #F26E6A;
$primary-red-01 : #C86360;
$primary-red00 : #B23D39;
$primary-red01 : #8B2B27;
$primary-red02 : #762623;
   
$ui-grey01: #421312;
$ui-grey02: #895251;
$ui-grey03: #B98E8C;
$ui-grey04: #D3B3B2; 
$ui-grey05: #F6DEDD;
$ui-white: #FFFFFF;

$font-stack:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;