.center{
    flex-grow: 1;
    color:white;
    overflow-y: scroll;
    margin-bottom: 5rem;
    
    &::-webkit-scrollbar{
        display: none;
    }

    .profileIcon{
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 125px;
        opacity: 0.8;
        padding: 0.75rem 1rem;
        border-radius: 1rem;
        border: none;
        background-color: black;
        z-index: 3;
        cursor: pointer;

        .arrow{
            height: 15px;
        }
    }

    .playlist{
       display: flex;
       align-items: flex-end;
       height: 40vh;  

       .playlistName{
           margin-left: 0.5rem;
       }
    }
}