$primary-red-02 : #F26E6A;
$primary-red-01 : #C86360;
$primary-red00 : #B23D39;
$primary-red01 : #8B2B27;
$primary-red02 : #762623;
   
$ui-grey01: #421312;
$ui-grey02: #895251;
$ui-grey03: #B98E8C;
$ui-grey04: #D3B3B2; 
$ui-grey05: #F6DEDD;
$ui-white: #FFFFFF;

$font-stack:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $primary-red-01;
  padding: 0;
  margin: 0;
  font-family: $font-stack;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: red;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: #000;
  color: #fff !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}


